apiVersion: apps/v1
kind: Deployment
metadata:
  name: moby
  labels:
    app: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: webserver
        image: docker/mobywebsite:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
